.app {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #848899, */
}

span img {

    border-radius: 15px;
    height: 150px;
    margin-right: 10px;
}

#portfolioticket {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  justify-content: space-around;
  margin-bottom: 8px;
  align-items: center;
}
#purchasePrice {
  width: 50px;
}
#portfoliotable {
  width: 100%;
}
#porttablebody {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#titlerow {
  font-size: 12px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
#titlehead {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 20px;
}
#quantitystyle {
  margin-right: '8px';
}
#valuestyle {
  margin-right: '4px';
}
.ticketcells,
td,
tr {
  flex: 1;
}

h1 {
  margin-left: 5px;
}

div {
  margin-left: 5px;
  margin-right: 10px;
}

#portfoliocontainer {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 400px;
  align-items: center;
  padding-top: 8px;
  color: black;
  background-color: white;
  border-radius: 15px;
}

.orderBox {
  border: solid white 2px;
  width: 25rem;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.totalsBox {
  border: solid white 2px;
  width: 25rem;
  height: 14.5rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
}

#totalP {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 40px;
  /* margin-top: 2em; */
  /* margin: 1em; */
}

body {
  background-color: #323a56;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.row img {
  padding: 10px;
  margin-right: 20px;
  border: solid white 2px;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

td,
tr {
  /* padding-top: 10px; */
  padding: 5px;
}

textarea {
  resize: none;
  margin: 10px;
}

#portfoliocontainer {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: '400px';
  align-items: 'center';
  padding-top: '8px';
}
